@keyframes example {
    0%   {background-color: #002233;}
    10%  {background-color: #000033;}
    20%  {background-color: #330033;}
    30%  {background-color: #33001a;}
    40%  {background-color: #330000;}
    50%  {background-color: #331a00;}
    60%  {background-color: #2d2d1f;}
    70%  {background-color: #001a00;}
    80%  {background-color: #001a33;}
    90%  {background-color: #000033;}
}
body {
    background-color: #002233;
    margin: 60px auto;
    width: 70%;
    animation-name: example;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
nav ul, footer ul {
    font-family: courier;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    font-family: courier;
}
a:hover {
    text-decoration: underline;
    font-family: courier;
    font-size: 1.5em;
    color: #ffffb3;
}
h1 {
    color: #ffffb3;
    font-size: 3em;
    font-family: courier;
}
h2 {
    color: #ffffb3;
    font-size: 2em;
    font-family: courier;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #ffffb3;
    font-family: courier;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    color: #ffffb3;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

u1 {
    color: #ffffb3;
    font-size: 1.5em;
    font-family: courier;
}

li {
    color: #ffffb3;
    font-size: .75em;
   font-family: courier;
}

ul.posts li {
    color: #ffffb3;
    list-style: none;
}
h3 {
    color: #ffffb3;
    font-size: 1em;
    font-family: courier;
}

